/* Used fonts: Open Sans, sans-serif & Roboto Condensed, sans-serif */

/* Navigation Bar & Landing Page */
.header-color,
.landing-grid {
  background: #00f260;
  background: -webkit-linear-gradient(to right, #0575e6, #00f260);
  background: linear-gradient(to right, #0575e6, #00f260);
}
.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

/* Resume Page */
.resume-right {
  background: #27221f;
  color: white;
}

/* Contact Page */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Roboto Condensed", sans-serif;
}

.contact-grid p {
  font-family: "Open Sans", sans-serif;
}

.contact-grid hr {
  border-top: 3px dashed black;
  width: 50%;
  margin: auto;
}
.contact-info i {
  font-size: 30px;
  padding-right: 1rem;
}
